h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  background-color: #000000;
  color: #FFFFFF;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  background-color: #000000;
  color: #FFFFFF;
}

body {
  background-color: #000000;
}
